# =========================
# dependencies
# =========================
node_modules/
.pnpm-store/

# =========================
# build outputs
# =========================
dist/
build/
out/
coverage/
.tmp/
.cache/

# =========================
# prisma
# =========================
packages/prisma/generated/

# =========================
# logs
# =========================
*.log
logs/

# =========================
# lock files
# =========================
pnpm-lock.yaml
yarn.lock
package-lock.json

# =========================
# env files
# =========================
.env
.env.*
!.env.example

# =========================
# misc
# =========================
.DS_Store
.idea/
.vscode/